.custom-container {
  display: flex;
  flex-wrap: wrap;
}

.left-section {
  width: 100%;
}

.right-section {
  width: 100%;
  
  color: #fff;
  padding: 20px;
}

.wallet-connection {
  text-align: center;
}

.custom-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.custom-connect-button {
  background-color: orange;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
}

h3 {
  margin-top: 20px;
  font-size: 18px;
}

.custom-input-field {
  width: 40vw;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

.custom-transaction-speed {
  width: 40vw;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

.custom-submit-button {
  background-color: orange;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 20px;
}

.custom-logout-button {
  background-color: orange;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 20px;
}
